@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    background-color: #1118;
    margin-top: 25vh;
    padding: 2vh;
}

.logo div {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 4rem;
}

.logo h1 {
    color: white;
    font-family: "Norse";
    vertical-align: middle;
    font-size: 3rem;  
}

.container {
    display: flex;
    height: 100vh;
}

.left-col {
    background-image: url("../images/plant.jpg");
    background-size: cover;
    flex: 1;
}

.right-col {
    flex: 2;
}

.right-top {
    background-color: #EEE;
}

.right-mid {

}

.right-bot {
    background-color: #EEE;
}