@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-col {
    background-image: url("../images/plant.jpg");
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
}   

.logo {
    background-color: #1118;
    margin-top: 25vh;
    padding: 2vh;
}

.logo div {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 4rem;
}

.logo h1 {
    color: white;
    font-family: "Norse";
    vertical-align: middle;
    font-size: 3rem;  
}

.credit {
    color: white;
    font-size: 0.5rem;
    margin: auto auto 2vh auto;
}

.credit a {
    color: white;
}

.right-col {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right-top {
    flex: 1;
    background-color: #EEE;
    padding-top: 10vh;
    font-weight: 600;
}

.right-top p {
    margin: 2vw;
}

.right-mid {
    flex: 1;
    padding-bottom: 2vh;
}

#sign-up {
    display: flex;
    flex-wrap: wrap;
}

#sign-up h2 {
    flex: 100%;
    margin: 2vh 2vw;
}

#sign-up label {
    flex: calc(50% - 4vw);
    font-size: 0.75rem;
    margin: 2vh 2vw;
    color: darkslategray;
}

#sign-up input {
    width: 66%;
    border-color: lightgray;
    border-radius: 4px;
    border-width: 1px;
}

#sign-up :nth-child(2n + 3) {
    position: relative;
    left: -8vw;
}

#sign-up input:focus {
    outline: none;
    border-color: blue;
}

#sign-up input:invalid {
    outline: none;
    border-color: red;
}

.right-bot {
    flex: 1;
    background-color: #EEE;
}

.right-bot button {
    background-color: darkolivegreen;
    color: white;
    padding: 2vh 4vw;
    border: none;
    border-radius: 4px;
    font-size: 0.75rem;
    margin: 4vh 2vw;
}

.right-bot p {
    font-size: 0.75rem;
    margin: 2vh 2vw;
}

.right-bot a {
    color: darkolivegreen;
    text-decoration: none;
}